<form method="POST" action="/space/addShip/carrier">
  <label>Name</label>
  <input type="text" name="name" />
  <label>Number of Fighters</label>
  <input type="number" name="fighterNum" />
  <label>Number of Bombers</label>
  <input type="number" name="bomberNum" />
  <input type="submit" value="Add Carrier" />
</form>