<form method="POST" action="/space/carriers/{{id}}/addFighter">
  <label>Name</label>
  <input type="text" name="name" />
  <label>Carrier Dock</label>
  <input type="text" name="carrierDock" />
  <input type="hidden" name="carrierID" value="{{id}}" />
  <input type="submit" value="Add Fighter" />
</form>