<form method="POST" action="/space/carriers/{{id}}/addFighter">
  <label>Name</label>
  <input type="text" name="name" />
  <label>Carrier Dock</label>
  <input type="text" name="carrierDock" />
  <select name="engine" value="B">
    <option value="Interceptor">Interceptor</option>
    <option value="Air Superiority">Air Superiority</option>
    <option value="Recon">Recon</option>
  </select>
  <input type="hidden" name="carrierID" value="{{id}}" />
  <input type="submit" value="Add Fighter" />
</form>