<form method="POST" action="/space/addShip/fighter">
  <label>Name</label>
  <input type="text" name="name" />
  <label>Carrier Dock</label>
  <input type="text" name="carrierDock" />
  <label>Carrier ID</label>
  <input type="text" name="carrierID" />
  <input type="submit" value="Add Fighter" />
</form>