
<a href="/space/addCarrier">Comission Carrier</a>
<ul>
    {{#each allCarriers}}
    <li>
        <a href="/space/carrierEscort/{{id}}">{{name}}</a>
    </li>
    {{/each}}
</ul>

{{!-- 
  <select name="Carrier List">
      {{#each allCarriers}}
        <option value="name">{{name}}</option>
    {{/each}}
  </select>

    <select name="Carrier List">
      {{#each allCarriers}}
        <option value="name">{{id}}</option>
    {{/each}}
  </select> --}}