
<a href="/space/addCarrier" class="createShip">Comission Carrier</a>
<div class="carrierList">
    {{#each allCarriers}}
    <div class="singleCarrier">
            <a href="/space/carrierEscort/{{id}}" class="shipName">{{name}}</a>
            <a href="/space/carrierEscort/{{id}}"><img src="/images/{{image}}.png" alt="CarrierImage" class="thumbnail"></a>
    </div>
    {{/each}}
</div>
