@font-face {
    font-family: 'gFont';
    src: url(/fonts/Mechsuit.otf);
 }
 
 @font-face {
    font-family: gFont;
    src: url(/fonts/Mechsuit.otf);
    font-weight: bold;
 }

body{
    background: url(/images/dock.jpg) no-repeat center center;
    background-attachment: fixed;
}

h1, h2{
    font-family: 'gFont';
    background-color: rgba(255, 255, 255, 0.3);
    padding: 0px 10px;
    border: solid blue 5px;
    border-radius: 5px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

.shipName{
    background-color: rgba(255, 255, 255, 0.3);
    border: solid yellow 2px;
    border-radius: 5%;
    font-size: 2em;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

a{
    text-decoration: none;
    color: white;
}

select{
    font-size: 1em;
}

.createShip{
    background-color: rgba(255, 255, 255, 0.3);
    border: solid blue 5px;
    border-radius: 5%;
    font-size: 2em;
}

.shipInfo{
    background-color: rgba(255, 255, 255, 0.3);
    border: solid blue 5px;
    font-size: 2em;
}

.carrierList{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    text-align: center;
    flex-wrap: wrap;
    max-width: 90%;
}

.singleCarrier{
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: solid blue 5px;
    border-radius: 5%;
    max-width: 22%;
    background-color: rgba(255, 255, 255, 0.1);
    margin: 10px 0px;
}
.singleEscort{
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    border: solid blue 5px;
    border-radius: 5%;
    background-color: rgba(255, 255, 255, 0.1);
    max-width: 30%;
    margin: 5px 0px;
}

.thumbnail{
    max-width: 90%;
}

.nameHeader{
    text-align: center;
}
.refitBtn{
    text-align: center;
}

.escortBody{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}
.escortListHolder{
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
}

.escortList{
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    text-align: center;
    flex-wrap: wrap;
}

.shipImg{
    border: solid blue 5px;
    border-radius: 5%;
    background-color: rgba(255, 255, 255, 0.1);
}


.image{
    max-width: 50%;
    max-height: 20%;
}

.CruiserHull{
    content: url(/images/CruiserHull.png)
}

.StealthCoating{
    content: url(/images/StealthCoating.png)
}

.CompositePlating{
    content: url(/images/CompositePlating.png)
}

.AirSuperiority{
    content: url(/images/AirSuperiority.png)
}

.Anti-CapitalWarhead{
    content: url(/images/Anti-CapitalWarhead.png)
}

.Area-DenialLauncher{
    content: url(/images/Area-DenialLauncher.png)
}

.Interceptor{
    content: url(/images/Interceptor.png)
}

.MineDeployer{
    content: url(/images/MineDeployer.png)
}

.Recon{
    content: url(/images/Recon.png)
}